.about {
  background-color: var(--bgColor2);
  padding: 2rem var(--padding);
  display: flex;
  justify-content: space-around;
}

.about .conta-img {
  width: 45%;
}

.about .conta-img img {
  width: 90%;
}

.about .conta-text {
  width: 35%;
}


